<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set logging level for your package -->
    <logger name="com.travelbroker" level="INFO"/>
    <!-- Set INFO to DEBUG for more detailed logging -->
    
    <!-- Root logger - applies to everything not specifically configured -->
    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>